@import "tailwindcss";

/* Global color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --gold: #D8C394;
  --gold2: #b67a00;
  --dark: #101010;
}
/* globals.css */
.clip-wave {
  clip-path: polygon(0 100%, 0 50%, 100% 0%, 100% 100%);
}

@theme inline {
  /* Colors for Tailwind utilities */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-gold2: var(--gold2);
  --color-dark: var(--dark);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
  }
}


/* Hide Next.js dev overlay icon in development only */
#__next_dev_overlay_container {
  display: none !important;
}

/* Apply Josefin Sans globally */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
}
